body{
    display: flex;
    align-items: center;
    background-color: #232e3f;
    align-content: center;
}

div{
    display: flex;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
}